body{

    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

h1{
    font-size: 50px;
}

.name-title{
    color: orange;
}

.flexiable-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width img{
    border-radius: 50%;
}
.half-width{
    width: 100%;
    padding-left: 2%;
}

.half-width p{
    text-align: justify;
    font-size: 20px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    padding:10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}
.dream-big{
   
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big .second-img{
    border-radius: 50%;
}

/* .title-color{
    color: orange;
} */