body{

    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

h1{
    font-size: 50px;
}

.name-title{
    color: orange;
}
img{
    border-radius: 50%;
}
section{
    display: flex;
}
.half-width{
    width: 100%;
    padding-left: 2%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    padding:10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}